@using Shoper.Application.Dtos.CartDtos

@model GetByIdCartDto

<div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Ürünler</th>
                            <th>Tutar</th>
                            <th>Adet</th>
                            <th>Toplam</th>
                            <th>Sil</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                    @if(Model.CartItems != null)
                    {
                        @foreach (var item in Model.CartItems)
                        {
                            <tr>
                                <td class="align-middle"><img src="@item.Product.ImageUrl" alt="" style="width: 50px;"> @item.Product.ProductName</td>
                                <td class="align-middle">@item.Product.Price</td>
                                <td class="align-middle">
                                    <div class="input-group quantity mx-auto" style="width: 100px;">
                                        <div class="input-group-btn">
                                            <button class="btn btn-sm btn-primary btn-minus" onclick="updateQuantity(@Model.CartId,@item.ProductId,@item.CartItemId,-1)">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="form-control form-control-sm bg-secondary text-center" id="quantity_@item.ProductId" name="quantity" value="@item.Quantity" readonly>
                                        <div class="input-group-btn">
                                            <button class="btn btn-sm btn-primary btn-plus" onclick="updateQuantity(@Model.CartId,@item.ProductId,@item.CartItemId,1)">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle">@item.TotalPrice</td>
                                <td class="align-middle"><button class="btn btn-sm btn-primary" onclick="deleteFromCart(@item.CartItemId,@item.ProductId)"><i class="fa fa-times"></i></button></td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="align-middle" colspan="5">
                                sepetinize urun ekleyin
                            </td>
                        </tr>
                    }

                       
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Sepet Toplam</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">AraToplam</h6>
                            <h6 class="font-weight-medium">@Model.TotalAmount</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Toplam</h5>
                            <h5 class="font-weight-bold">@Model.TotalAmount</h5>
                        </div>
                    @* <button class="btn btn-block btn-primary my-3 py-3">Sipariş Ver</button> *@
                    <a href="/Order/Checkout?cartId=@Model.CartId" class="btn btn-block btn-primary my-3 py-3">Sipariş Ver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    function deleteFromCart(id,productId) {
        $.ajax({
            url: '/Cart/DeleteCartItem?id='+id+'&productId='+productId,
            type: 'GET',
            success: function (response) {
                if (response.success) {
                    alert('Ürün sepetten silindi!');
                    location.reload();
                } else {
                    alert('Bir hata oluştu: ' + response.error);
                }
            },
            error: function (xhr, status, error) {
                alert('Bir hata oluştu: ' + error);
            }
        });
    }

    function updateQuantity(cartId,productId,cartItemId,quantity) {
        $.ajax({
            url: '/Cart/UpdateQuantityOnCart',
            type: 'POST',
            data: { cartId: cartId, productId: productId, quantity: quantity, cartItemId:cartItemId },
            success: function (response) {
                if (response.success) {
                    location.reload();
                } else {
                    alert('Bir hata oluştu: ' + response.error);
                }
            },
            error: function (xhr, status, error) {
                alert('Bir hata oluştu: ' + error);
            }
        });
    }
</script>